@charset "UTF-8";
.sc-btn {
  width: 160px;           /* set width  */
  height: 48px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: linear-gradient(to bottom, #4fa9ff 0%, #1a73e8 50%, #0b5aa8 100%); /* glossy effect */

  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0;             /* height/width control size */
  margin-right: 25px
}

.sc-btn:hover {
  background: linear-gradient(to bottom, #0cffff 0%, #2a7ff0 50%, #0cffff 100%);
}

.sc-btn-selected {
  width: 160px;           /* set width  */
  height: 48px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: lightgray;

  color: #000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0;             /* height/width control size */
  margin-right: 25px
}

.search-btn {
  width: 100%;           /* set width  */
  height: 38px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: lightgray;

  color: #004080;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0             /* height/width control size */
  
}


div.cs-div-left-up {
  /* background: #f2f2f2;*/
  width: 200px;
  height: 200px;
  background-image: url("../images/books_degree_hat_trans.png");
  /* padding: 5px 10px 5px 10px;*/
  /*border: 1px solid #aaa; */
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: contain;
  cursor: pointer;
}


div.cs-div-left-down {
  background: #f2f2f2;
  width: 135px;
  height: 75px;
  background-image: url("../images/books_degree_hat_trans.png");
  padding: 5px 10px 5px 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: contain;
  cursor: pointer;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically   */
}

div.cs-div-right {
    width: 75%;      /* right div larger */
    height: 75px;
    background: #e0e0e0;
    justify-content: center;  /* center horizontally */
  	align-items: center;      /* center vertically   */
}
  
div.cs-div-right-up {
    width: 100%;      
    height: 75px;
    background: #fff;
    display: flex;
    justify-content: center;  /* center horizontally */
  	align-items: center;      /* center vertically   */
}

div.cs-div-right-down {
    width: 100%;      /* right div larger */
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;  /* center horizontally */
  	/* align-items: center;      /* center vertically   */
}
div.cs-div-adv {
  width: 235px;
  height: 235px;
  background-image: url("../images/books_degree_hat.png");
  padding: 5px 10px 5px 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: contain;
  cursor: pointer;
}


  select.cs-select {
  width: 220px;
  height: 35px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 40px 5px 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  background-image: url("arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  appearance: none;
  cursor: pointer;
}

table.schoolTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Add this */
}

table.schoolTable th {
    background-color: #004080;
    /* background-color: #00dddd; */
    color: white;
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

table.schoolTable td {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

table.schoolTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.schoolTable tr:hover {
    background-color: #ddd;
}

table.schoolTable td.truncate {
      cursor: pointer;
      position: relative;
      font-size: 16px;
 	  /* font-weight: 600; */
    }

    /* On hover, expand and show full content */
table.schoolTable td.truncate:hover {
      white-space: normal; /* Allow wrap */
      overflow: visible;
      background-color: #ffffcc; /* Highlight */
      z-index: 1;
      position: relative;
    }
.pagination-link{
  font-size: 20px;
  font-weight: 600;	
  text-align: right;
}

div.ancor {
	width: 100%;
  display: flex;
  justify-content: flex-end;  /* All links to right */
  gap: 10px;
  padding: 20px;
}

.home {
  width: auto;           
  height: 28px;          
  color: #004080;
  font-size: 16px;
  font-weight: 200;
  text-align : center;
  border-radius: 4px;    /* rounded edges */
  border: 3px solid #0b5aa8;
  cursor: pointer;
}