@charset "UTF-8";

.bg-image {
    position: fixed;
    top: 500;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/students.png"); 
    background-size: cover;
    background-position: center;
    filter: blur(5px);   /* Blur amount */
    z-index: -1;         /* Keep it behind your main content */
}

.bg-image-full {
    position: fixed;
    top: 700;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/students.png"); 
    background-size: cover;
    background-position: center;
    filter: blur(10px);   /* Blur amount */
    z-index: -1;         /* Keep it behind your main content */
}

.bg-image-exams {
    position: fixed;
    top: 200;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/exams.png"); 
    background-size: cover;
    background-position: center;
    filter: blur(2px);   /* Blur amount */
    z-index: -1;         /* Keep it behind your main content */
}
.phead_img {
  /* background: #f2f2f2;*/
  width: 120px;
  height: 120px;
  background-image: url("../images/indianFlagShiny.png");
  /* padding: 5px 10px 5px 10px;*/
  /*border: 1px solid #aaa; */
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: contain;
  cursor: pointer;
}

.cs-div-left-up {
  /* background: #f2f2f2;*/
  width: 250px;
  height: 250px;
  background-image: url("../images/books_degree_hat_trans.png");
  /* padding: 5px 10px 5px 10px;*/
  /*border: 1px solid #aaa; */
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: contain;
  cursor: pointer;
}
