@charset "UTF-8";
.pageBtn {
  width: 260px;           /* set width  */
  height: 68px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: linear-gradient(to bottom, #4fa9ff 0%, #1a73e8 50%, #0b5aa8 100%); /* glossy effect */

  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0;             /* height/width control size */
  margin-right: 25px
}

.infoPageBtns{
	width: 100%;     
    height: auto;
    justify-content: center;  /* center horizontally */
  	align-items: left;      /* center vertically   */
  	flex-direction: column
}