@charset "UTF-8";

.phead {
  width: 75%;           
  height: 48px;          
  color: #004080;
  font-size: 36px;
  font-weight: 600;
  text-align : center;
  
}
.home {
  width: auto;           
  height: 28px;          
  color: #004080;
  font-size: 20px;
  font-weight: 100;
  text-align : center;
  
}

div.cs-div-right {
	
    width: 100%;      
    height: 75px;
    background: white;
    justify-content: center;  /* center horizontally */
  	align-items: left;      
  	flex-direction: column;
}
  
div.cs-div-right-up {
    width: 100%;      
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;  /* center horizontally */
  	align-items: left;     
  	
}

div.cs-div-right-down {
    width: 100%;      /* right div larger */
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;  /* center horizontally */
  	/* align-items: center;      /* center vertically   */
}

.searchBtn {
  width: 160px;           /* set width  */
  height:58px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: linear-gradient(to bottom, #4fa9ff 0%, #1a73e8 50%, #0b5aa8 100%); /* glossy effect */

  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0;             /* height/width control size */
  margin-right: 25px
}

.searchBtn:hover {
  background: linear-gradient(to bottom, #0cffff 0%, #2a7ff0 50%, #0cffff 100%);
}

.searchBtn-selected {
  width: 160px;           /* set width  */
  height: 48px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: lightgray;

  color: #000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0;             /* height/width control size */
  margin-right: 25px
}

.infoBtn {
  width: 300px;           /* set width  */
  height: 28px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: lightgray;

  color: #004080;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0;             /* height/width control size */
  margin-right: 25px
}

.custBtn {
  width: 325px;           /* set width  */
  height: 38px;           /* set height */
  border-radius: 6px;    /* rounded edges */

  border: 1px solid #0b5aa8;
  background: #004080;

  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 0;             /* height/width control size */
  margin-right: 25px
}

  div.cs-div-adv {
  width: 235px;
  height: 235px;
  background-image: none;
  padding: 5px 10px 5px 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: contain;
  cursor: pointer;
}

div.cs-div-info {
  width: 535px;
  height: 215px;
  background-image: none;
  padding: 5px 10px 5px 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: contain;
  cursor: pointer;
}

.home {
  width: auto;           
  height: 28px;          
  color: #004080;
  font-size: 16px;
  font-weight: 200;
  text-align : center;
  border-radius: 4px;    /* rounded edges */
  border: 3px solid #0b5aa8;
  cursor: pointer;
}


